input {
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: #979797;
}

.login-layout {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.material-icons {
  cursor: default;
  font-size: 36px;
  padding-left: 30px;
}

#login-id,
#login-password,
#login-button {
  width: 300px;
}

#login-id,
#login-password {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#login-id,
#login-password {
  border: 1px solid #000000;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#divider {
  width: 10px;
  height: 24px;
  border-right: 1px solid #000000;
}

#input-id,
#input-password {
  width: 100%;
  border: none;
  outline: none;
}

#login-button {
  display: flex;
  flex-direction: column;
}

#btn-signin {
  width: 100%;
  height: auto;
  background-color: #bf9270;
  border: 1px solid #bf9270;
  font-weight: bold;
  color: white;
}
#btn-signin:hover {
  background: #ae774e;
}

#btn-signin:disabled {
  background-color: #cdcdcd;
  border: 1px solid #cdcdcd;
  cursor: not-allowed;
}

#create-account {
  font-size: 12px;
  color: #bf9270;
  padding: 0.8em;
}
#create-account:hover {
  cursor: pointer;
  color: #ae774e;
}
