.contents .inner__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20%;
}

.contents .inner__contents img {
  width: 100%;
}

#article,
#liveresult {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15% 0;
}

#inner__contents-img-left img,
#inner__contents-img-right {
  position: relative;
}
#inner__contents-text-right h2,
#inner__contents-text-left h2 {
  position: relative;
  font-size: 45px;
  font-weight: 700;
  margin: 0;
}
#inner__contents-text-right p,
#inner__contents-text-left p {
  font-size: 18px;
  margin-top: 30px;
  text-align: justify;
  text-indent: 1em;
}

#article {
  border-bottom: 1px solid #dfd3c3;
}
#article #inner__contents-img-left,
#article #inner__contents-img-right {
  position: relative;
  width: 50%;
  height: 100%;
}
#article #inner__contents-text-right,
#article #inner__contents-text-left {
  width: 50%;
  padding: 0 65px;
}

#liveresult {
  cursor: pointer;
}
#liveresult #inner__contents-img-right {
  position: relative;
  width: 75%;
  height: 100%;
}
#liveresult #inner__contents-text-left {
  width: 25%;
  padding: 0 30px;
}
