body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  min-width: 1570px;
}

img {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 80px;
  background-color: #f5f5f5;
  padding: 15.13px 20%;
  position: fixed;
  z-index: 1;
}
header img {
  width: 200px;
  height: 30px;
}

.contents {
  padding: 10% 20%;
}

.contents .inner__contents {
  max-width: 1366px;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

#inner-top {
  border-bottom: 1px solid rgba(33, 33, 33, 0.53);
}

#inner__contents-img-left img,
#inner__contents-img-righ {
  position: relative;
  object-fit: cover;
}
#inner__contents-text-right h2,
#inner__contents-text-left h2 {
  position: relative;
  font-size: 45px;
  font-weight: 700;
  margin: 0;
}
#inner__contents-text-right p,
#inner__contents-text-left p {
  margin-top: 30px;
  text-align: justify;
  text-indent: 1em;
}
#inner__contents-img-left {
  position: relative;
  width: 50%;
  height: 100%;
}
#inner__contents-text-right {
  width: 50%;
  padding: 0 65px;
}
#inner__contents-img-right {
  position: relative;
  width: 75%;
  height: 100%;
}
#inner__contents-text-left {
  width: 25%;
  padding: 0 30px;
}
#liveresult {
  cursor: pointer;
}
