.article_container {
  padding: 5% 20%;
}

.article_container .contents__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  height: auto;
}
.article_container .contents__img img {
  width: 80%;
}

.article_container .contents__text {
  margin: 10% 0%;
}

.article_container .contents-side {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.article_container .contents-side .contents-side-text {
  width: 35%;
}

.article_container .contents-side .contents-side-img {
  height: fit-content;
}
