.contents__item {
  cursor: pointer;
  padding: 5% 20%;
  border-bottom: 1px solid #dfd3c3;
}

.contents__item .box {
  display: flex;
  /* border: 1px solid black; */
  background-color: white;
  width: 100%;
  /* height: 450px; */
}

.contents__item .box img {
  width: 400px;
  height: 300px;
  /* height: 30%; */
}

.contents__item .box .box__text {
  width: 600px;
  padding: 55px;
}

h3 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 30px;
}

h5 {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  text-overflow: ellipsis;
  line-height: 1.4;
  overflow: hidden;
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
}
