.contents__item {
  cursor: pointer;
  padding: 5% 20%;
  border-bottom: 1px solid #dfd3c3;
}

.contents__item .box {
  display: flex;
  background-color: white;
  width: 100%;
}

.contents__item .box img {
  width: 400px;
  height: 300px;
}

.contents__item .box .box__text {
  width: 600px;
  padding: 55px;
}
