body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  min-width: 1570px;
}

.contents_item {
  display: flex;
  flex-direction: column;
  padding: 5% 20%;
}

table {
  width: 100%;
  margin-bottom: 5%;
}

table td {
  text-align: center;
  font-size: 12px;
}

.contents img {
  width: 500px;
}

.contents .text {
  text-align: start;
  height: auto;
  width: auto;
}

h6 {
  line-height: 1.8;
  font-weight: 300;
  font-size: 20px;
}
