.contents_ldh {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  padding: 5% 20%;
  border-bottom: 1px solid #dfd3c3;
}

.contents_ldh img {
  width: 300px;
}

.contents_ldh .text {
  width: 600px;
  padding: 55px;
}
