.login-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1400px;
  min-height: 914px;
  background-image: url('../../public/images/SB/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 500px;
  width: 400px;
  min-height: 600px;
  height: fit-content;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.logo_layout {
  text-align: center;
}

.logo {
  height: 60px;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
/* .enter_name{
    position:absolute;
    margin-top:40%;
    margin-left:15.6%;
    width:68.5%;
    height:9%;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #979797;
} */
/* .name{
    position : relative;
    width:70%;
    height:70%;
    border:none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #979797;
} */
/* .enter_password{
    position:absolute;
    margin-top:57%;
    margin-left:15.6%;
    width:68.5%;
    height: 9%;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #979797;
} */
/* .password{
    position : relative;
    width:70%;
    height:70%;
    border:none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #979797;
} */

/* button, button::after{
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    -o-transition: all 0.3s;
	transition: all 0.3s;
} */
/* .btn{
    cursor:pointer;

    position:absolute;
    margin-top:80%;
    margin-left:15.6%;
    width:70%;
    height: 10.5%;

    background: #BF9270;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
} */
/* button::befor,
button::after{
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
} */

/* .join {
    margin-top:95%;
    margin-left:15.6%;
} */

/* .join a {
    font-size: 15px;
    text-decoration-line: none;
    color: #BF9270;
} */
