.component {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 5% 20%;
  border-bottom: 1px solid #dfd3c3;
}

.component .img1 {
  width: 350px;
  height: auto;
}

.component .img1 img {
  width: 100%;
  height: 100%;
}

.component .text1 {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
